# Node modules
/node_modules/

# Build output
/dist/
/bundle/

# Hardhat artifacts
/artifacts/
/cache/
/coverage/
/types/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example
!.env.sample

# OS/editor
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
